<div class="row">	
	<div class="col-md-10 col-md-offset-1">
		<mat-card-header>
  			<mat-card-title><br/>Registro de Ingresos<br/></mat-card-title>
  		</mat-card-header>
     	<mat-card>
			<mat-card-content>
        			<table class="table table-hover">
           				<thead class="sticky-top">
            				<tr>
								<th>Apellido</th>
								<th>Nombre</th>
								<th>Dni</th>
								<th>Matricula</th>
            				</tr>
          				</thead>
          				
          				<tbody>
            				<tr mdbTableCol *ngFor="let register of registers | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
								<td>{{register.apellido}}</td>  
								<td>{{register.nombre}}</td>
              					<td>{{register.dni}}</td>
              					<td>{{register.matricula}}</td>
							</tr>
          				</tbody>
					</table>
					<ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="4" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
					</ngb-pagination>
     		</mat-card-content>
   		 </mat-card>
	</div>
</div>	