
<app-header></app-header>
<br/><br/>
<div align="center">
<div data-include-widget="webcam_tester">
  <div class="box box-middle">
	<div id="webcam-controls">
		<button id="webcam-launcher" mat-raised-button color="primary">
			Verificar Identidad
		</button>
	</div>
	<div>
	  <video id="webcam-stream">Visor de cámara web</video>
	  <div id="webcam-snapshots"></div>
	  <div id='webcam-actions'>
		<!--button data-action='stopWebcam'>Detener cámara web</button!-->
		<button data-action='takePhoto'>Tomar foto</button>
		<button data-action='fullscreen'>Pantalla completa</button>
	  </div>
	</div>
  </div>
</div>
</div>
