
<app-header></app-header>
<div width="640" id="app">
	<button mat-raised-button color="primary" (click)="reconocerPersona()">Reconocer Persona</button>
	<button mat-raised-button color="accent" [routerLink]="['/registro-ingresos']">Ver Registro de Ingresos</button>
	<div><video #video id="video" width="640" height="480" autoplay></video></div>
	<canvas #canvas id="canvas" width="640" height="480"></canvas>
	<ul>
		<li *ngFor="let c of captures">
			<img src="{{ c }}" height="50" />
		</li>
	</ul>
</div>