
<app-header></app-header>
<br/><br/>
<div align="center">
<div data-include-widget="webcam_tester">
  <div class="box box-middle">
	<div id="webcam-controls">
		<button id="webcam-launcher" mat-raised-button color="primary">
			Verificar Identidad
		</button>
	</div>
	<button mat-raised-button color="primary" (click)="reconocerPersona()">Reconocer Persona</button>
	<br/><br/>
	<div>
	  <video id="webcam-stream">Visor de cámara web</video>
	  <div id="webcam-snapshots"></div>
	  <div id='webcam-actions'>
		<!--button data-action='stopWebcam'>Detener cámara web</button!-->
		<button data-action='takePhoto'>Tomar foto</button>
		<button data-action='fullscreen'>Pantalla completa</button>
	  </div>
	</div>
  </div>
</div>
<div class="center">
	<mat-progress-spinner mode="indeterminate" 
						  diameter="30" 
						  *ngIf="loading">
	</mat-progress-spinner>
	<div *ngIf="resultado">
		<div *ngIf="reconoce" class="alert alert-success">
			Reconocido
		</div>
		<div *ngIf="!reconoce" class="alert alert-danger">
			No Reconocido
		</div>
	</div>
</div>
