<div mat-dialog-content>
    <div class="alert alert-danger text-center" role="alert" *ngIf="errorMessage">
        {{errorMessage}}
    </div>
    <div class="alert alert-success text-center" role="alert" *ngIf="successMessage">
        {{successMessage}}
    </div>
    <!--formulario para editar usuario-->
    <form class="user-edit-form" [formGroup]="userEditForm" (ngSubmit)="onSubmit()">
        <div class="row mt-4 mx-auto">
            <div class="col-md-12 col-lg-5 text-center">
                <div class="container">
                    <div class="d-flex flex-column align-items-center">
                       <div class="p-1" [class.display-video-stated]="!videoStarted">
                          <video #video width="180" height="150" autoplay></video>
                       </div>
                       <div class="pb-2" [class.display-video-stated]="videoStarted">
                        <a mat-stroked-button color="primary" (click)="startCamera()">Habilitar camara</a>
                      </div>
                       <div class="pb-2" [class.display-video-stated]="!videoStarted"> 
                          <a mat-stroked-button color="primary" (click)="capture()">Tomar foto</a>
                       </div>
                       <div class="p-1">
                          <canvas #canvas class="vid"></canvas>
                          <canvas #canvasHidden style="display: none;"></canvas>
                       </div>
                    </div>
                 </div>

            </div>
            <div class="col-md-12 col-lg-7">
                <input matInput hidden formControlName="id">
                <mat-form-field class="user-edit-full-width">
                    <input matInput placeholder="Nombre" formControlName="firstName">
                </mat-form-field>
                <mat-form-field class="user-edit-full-width">
                    <input matInput placeholder="Apellido" formControlName="lastName">
                </mat-form-field>
                <mat-form-field class="user-edit-full-width">
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>

                <mat-form-field class="user-edit-full-width">
                    <input matInput placeholder="Nombre de Usuario" formControlName="username">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Rol</mat-label>
                    <mat-select [formControl]="rolSelected">
                        <mat-option *ngFor="let rol of roles" [value]="rol.id">
                            {{rol.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>

<mat-dialog-actions align="end">
    <button mat-stroked-button (click)="onNoClick()" [disabled]="loading">Cerrar</button>
    <button mat-stroked-button color="primary" cdkFocusInitial (click)="onSubmit()" [class.spinner]="loading"
        [disabled]="loading">Guardar</button>
</mat-dialog-actions>