<div mat-dialog-content>
    <div class="row h-100 w-100 mx-auto mb-2">
        <div class="col-md-12 col-lg-6 text-center">
            <mat-card class="mat-elevation-z0">
                <img mat-card-image [src]="showPhoto()" alt="Foto de perfil"
                    class="show-user-img-perfil">
            </mat-card>
        </div>
        <div class="col-md-12 col-lg-6 text-center">
            <div><mat-icon>person_outline</mat-icon></div>  
            <div><b>Datos personales</b></div>
            <div>Nombre: {{this.data.firstName}}</div>
            <div>Apellido: {{this.data.lastName}}</div>
            <mat-divider class="mt-2 mb-2"></mat-divider>
            <div><mat-icon>perm_contact_calendar</mat-icon></div>  
            <div><b>Datos de contacto</b></div>
            <div>Email: {{this.data.email}}</div>
            <mat-divider class="mt-2 mb-2"></mat-divider>
            <div><mat-icon>build</mat-icon></div>  
            <div><b>Datos del sistema</b></div>
            <div>Usuario: {{this.data.username}}</div>
            <div>Roles: {{showRoles(this.data.roles)}}</div>
        </div>
    </div>
</div>
<mat-dialog-actions align="end">
    <button mat-stroked-button (click)="onNoClick()">Aceptar</button>
</mat-dialog-actions>