<app-header></app-header>

<div align="center">

	<br/><br/>
	
	<div class="row">
	
		<div class="col-md-4 col-md-offset-4">

        <fieldset>

        	<br/>
        	
            <form #personForm="ngForm" (ngSubmit)="update(personForm.value)">
              
              <mat-card-content>
              
              	<mat-card-title>Editar Persona</mat-card-title>
              
              	<input type="hidden" name="href" [(ngModel)]="persona.href">
              	<input id="edit-formula" type="hidden" name="href" [(ngModel)]="persona.personData">
                
                <mat-form-field>
                    <input matInput placeholder="Nombre" [(ngModel)]="persona.nombre" minlength="2" maxlength="32"
                           pattern="[A-Za-z ñÑ]{2,32}"
                           required name="nombre" #nombre/>
                </mat-form-field><br/>
                
                <mat-form-field>
                  <input matInput placeholder="Apellido" [(ngModel)]="persona.apellido" minlength="2" maxlength="32"
                         pattern="[A-Za-z ñÑ]{2,32}"
                         required name="apellido" #apellido />
                </mat-form-field><br/>
                
                <mat-form-field>
                  <input matInput placeholder="Dni" [(ngModel)]="persona.dni" minlength="8" maxlength="8"
                          pattern="-?[0-9]+(\.[0-9][0-9]?)?"
                          required name="dni" #dni />
                </mat-form-field><br/>
                
                <mat-form-field>
                  <input matInput placeholder="Matricula" [(ngModel)]="persona.matricula" minlength="6" maxlength="7"
                         pattern="-?[0-9]+(\.[0-9][0-9]?)?"
                         required name="matricula" #matricula />
                </mat-form-field><br/>

              	<mat-card-footer><br/>
                  <button mat-raised-button color="primary" type="submit" 
                          [disabled]="!personForm.form.valid">Guardar</button>
                  <span style="display:inline-block; width: 0.5em;"></span>
                  <a mat-raised-button color="primary" routerLink="/person-list">Cancelar</a>
              	</mat-card-footer>
              
            	</mat-card-content>
            
           	 </form>
            
        	</fieldset>

		</div>
    
 	</div>
 
 </div>