<app-header></app-header>
<div align="center">

  <div *ngIf="imagen">
    <br/><br/>
    <br/><br/>
    <ngb-carousel [showNavigationArrows]="false" 
                interval="2500"
                [keyboard]="false"
                [pauseOnHover]="false"
                [wrap]="false">
      <ng-template ngbSlide *ngFor="let foto of fotos">
        <div>
          <img id="profileImage" src="data:image/jpg;base64,{{foto.archivo}}" alt="Fotos">
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
	
  <div *ngIf="!imagen">
    <p class="alert alert-danger">No existen registro de imágenes de la persona.</p>
    <br/><br/>
    <br/><br/>
    <img width="200" length="200" src="assets/img/persona.png" 
         alt="Fotos">
  </div>
  <br/><br/>
  <img width="75" length="75" src="assets/img/nav/back.png" 
       routerLink="/person-list" alt="Volver atrás">

</div>


