<app-header></app-header>

<section class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Lista de usuarios</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <div>
        <table mat-table [dataSource]="dataSource" matSort class="table-responsive">
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nº </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
            <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
            <td mat-cell *matCellDef="let row"> {{row.username}} </td>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
          </ng-container>

          <!-- Boton editar Column -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled> Editar </th>
            <td mat-cell *matCellDef="let row"> <button mat-icon-button color="primary" aria-label="Editar"
                (click)="openDialogEditar(row.id)">
                <mat-icon>edit</mat-icon>
              </button> </td>
          </ng-container>

          <!-- Boton ver Column -->
          <ng-container matColumnDef="show">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled> Ver </th>
            <td mat-cell *matCellDef="let row"> <button mat-icon-button color="accent" aria-label="Ver"
                (click)="openDialogShow(row.id)">
                <mat-icon>remove_red_eye</mat-icon>
              </button> </td>
          </ng-container>

          <!-- Boton eliminar Column -->
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled> Eliminar </th>
            <td mat-cell *matCellDef="let row"> <button mat-icon-button color="warn" aria-label="Ver"
                (click)="openDialogDelete(row.id)">
                <mat-icon>delete</mat-icon>
              </button> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="row h-100 justify-content-center align-items-center text-center">
    <div class="col-3 mt-3">
      <app-back-button></app-back-button>
    </div>
  </div>

</section>