<app-header></app-header>

	<div class="row">
		
		<div class="col-md-10 col-md-offset-1">
      
    		<mat-card-header>
  				<mat-card-title><br/>Lista de usuarios<br/></mat-card-title>
  			</mat-card-header>

    		<mat-card>
	
			<mat-card-content>
			
				<button class="btn btn-primary" title ="Agregar Usuario" 
						[routerLink]="['/user-add']">Agregar Usuario</button>

        		<table class="table table-hover">
           
           			<thead class="sticky-top">
            			<tr>
              				<th>Nombre</th>
              				<th>Apellido</th>
              				<th>Email</th>
              				<th>Usuario</th>
              				<th></th>
            			</tr>
          			</thead>
          			
          			<tbody>
            
            			<tr mdbTableCol *ngFor="let user of users">
              				<td>{{user.firstname}}</td>
              				<td>{{user.lastname}}</td>
							<td>{{user.email}}</td>
							<td>{{user.username}}</td>
              				<td>	
                				<a mat-button [routerLink]="['/user-edit', user.id]">
                  					<img src="assets/img/iconos/editar.png" width="25" height="25">
								</a>
							</td>
							<td>
                				<a mat-button title="Eliminar persona" (click)="remove(user)">
                					<img src="assets/img/iconos/eliminar.png" width="25" height="25">
                				</a>
              				</td>
            			</tr>
          			</tbody>
        		</table>
      </mat-card-content>
    </mat-card>
</div>