<app-header></app-header>
<div class="center">
	<mat-progress-spinner diameter="30" mode="indeterminate" *ngIf="loading"></mat-progress-spinner>
</div>	
<div class="row" *ngIf="!loading">
	<p class="alerta">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<mat-icon class="icon-card">person_add</mat-icon>&nbsp;
		<span class="aligned-with-icon">Para registrarse como usuario de la aplicación, debe pasar por Secretaría Acádemica.</span>
	</p>
<div class="col-md-10 col-md-offset-1">
	<button mat-raised-button color="primary" title ="Agregar Usuario" 
			[routerLink]="['/user-add']">Agregar Usuario</button>
				
	<br/><br/>
				
    <mat-card-header>
  		<mat-card-title><br/>Lista de usuarios<br/></mat-card-title>
  	</mat-card-header>
    <mat-card>
		<mat-card-content>
        	<table class="table table-hover">
           		<thead class="sticky-top">
            		<tr>
						<th>Apellido</th>
              			<th>Nombre</th>
              			<th>Email</th>
						<th>Usuario</th>
						<th>Rol</th>
						<th></th>
              			<th></th>
            		</tr>
          		</thead>
          		<tbody>
            		<tr mdbTableCol *ngFor="let user of users | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
						<td>{{user.lastname}}</td>
						<td>{{user.firstname}}</td>
						<td>{{user.email}}</td>
						<td>{{user.username}}</td>
						<td>
							<div *ngIf="user.admin">
								<p>Admin</p>
							</div>
							<div *ngIf="!user.admin">
								<p>Usuario</p>
							</div>
						</td>
						<td>	
							<a mat-button [routerLink]="['/user-edit', user.id]">
								<img src="assets/img/iconos/editar.png" width="25" height="25">
							</a>
						</td>
						<td>
							<a mat-button title="Eliminar persona" (click)="confirmDelete(user)">
								<img src="assets/img/iconos/eliminar.png" width="25" height="25">
							</a>
						</td>
            		</tr>
          		</tbody>
			</table>
			<ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="4" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
			</ngb-pagination>
      	</mat-card-content>
    </mat-card>
</div>