<app-header></app-header>

	<div class="row">
		
		<div class="col-md-10 col-md-offset-1">
      
    		<mat-card-header>
  				<mat-card-title><br/>Lista de usuarios<br/></mat-card-title>
  			</mat-card-header>

    		<mat-card>
	
			<mat-card-content>
			
				<button mat-raised-button color="primary" title ="Agregar Usuario" 
						[routerLink]="['/user-add']">Agregar Usuario</button>
				
				<br/><br/>

        		<table class="table table-hover">
           
           			<thead class="sticky-top">
            			<tr>
              				<th>Nombre</th>
              				<th>Apellido</th>
              				<th>Email</th>
              				<th>Usuario</th>
							<th>&nbsp;</th>
							<th>&nbsp;</th>
            			</tr>
          			</thead>
          			
          			<tbody>
            
            			<tr mdbTableCol *ngFor="let user of users | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
              				<td>{{user.firstname}}</td>
              				<td>{{user.lastname}}</td>
							<td>{{user.email}}</td>
							<td>{{user.username}}</td>
              				<td>	
                				<a mat-button [routerLink]="['/user-edit', user.id]">
                  					<img src="assets/img/iconos/editar.png" width="25" height="25">
								</a>
							</td>
							<td>
                				<a mat-button title="Eliminar persona" (click)="remove(user)">
                					<img src="assets/img/iconos/eliminar.png" width="25" height="25">
                				</a>
							</td>
            			</tr>
          			</tbody>
				</table>
				<ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
				</ngb-pagination>
      </mat-card-content>
    </mat-card>
</div>