<app-header></app-header>

<section class="container">
    <div class="row">
        <div class="col-md-6 mt-5">
            <mat-card>
                <mat-card-content>
                    <mat-card-header>
                        <mat-card-title> Administración de usuarios</mat-card-title>
                    </mat-card-header>
                    <span class="header-icon-card">
                        <a [routerLink]="['/user-list']">
                            <mat-icon class="icon-card">account_box</mat-icon>
                        </a>
                    </span>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-6 mt-5">
            <mat-card>
                <mat-card-content>
                    <mat-card-header>
                        <mat-card-title>Administración de personas</mat-card-title>
                    </mat-card-header>
                    <span class="header-icon-card">
                        <a [routerLink]="['/person-list']">
                            <mat-icon class="icon-card">accessibility</mat-icon>
                        </a>
                    </span>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-5">
            <mat-card>
                <mat-card-content>
                    <mat-card-header>
                        <mat-card-title>Captura de imagenes</mat-card-title>
                    </mat-card-header>
                    <span class="header-icon-card">
                        <a (click)="location.reload();" [routerLink]="['/camara']">
                            <mat-icon class="icon-card">videocam</mat-icon>
                        </a>
                    </span>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-6 mt-5">
            <mat-card>
                <mat-card-content>
                    <mat-card-header>
                        <mat-card-title>Configuración</mat-card-title>
                    </mat-card-header>
                    <span class="header-icon-card">
                        <a href="#">
                            <mat-icon class="icon-card">build</mat-icon>
                        </a>
                    </span>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>