<app-header></app-header>

<section class="container">
    <div class="row h-100 justify-content-center align-items-center text-center">
        <div class="col-md-6  mt-3">
            <mat-card>
                <mat-card-content>
                    <mat-card-header>
                        <mat-card-title> Acceso denegado</mat-card-title>
                    </mat-card-header>
                    <span>
                        <img src="../../../assets/img/iconos/httpError/security-lock.png" class="img-fluid p-3"
                            alt="Error 403">
                    </span>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row h-100 justify-content-center align-items-center text-center">
        <div class="col-3 mt-3">
            <app-back-button></app-back-button>
        </div>
    </div>
</section>