.div-error{
    position:fixed;
    top:0;
    width:100%;
    height: 100%;
    z-index:100;
    background: rgb(63, 81, 181);
    background: linear-gradient(147deg, rgba(63, 81, 181, 1) 0%, rgba(63, 81, 181, 1) 35%, rgba(119, 188, 201, 1) 100%);
 }

 .center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.font-error {
    font-family: "Verdana", Arial, sans-serif;
    font-size: 1.5em;
    color: #dde5f4;
  }