<div class="row">
	<div class="col-md-10 col-md-offset-1">
 		<mat-card-header>
  			<mat-card-title><br/>Accesos de Usuarios<br/></mat-card-title>
		  </mat-card-header>
     	<mat-card>
			<mat-card-content>
				<form #accesoForm="ngForm" (ngSubmit)="remove(accesoForm.value)">
        			<table class="table table-hover">
           				<thead class="sticky-top">
            				<tr>
              					<th>Nombre</th>
              					<th>Apellido</th>
              					<th>Fecha Ingreso</th>
            				</tr>
          				</thead>
          				<tbody>
            				<tr mdbTableCol *ngFor="let acceso of accesos">
								<td></td>
								<td></td>
              					<td></td>

            				</tr>
          				</tbody>
					</table>
					<ngb-pagination [collectionSize]="accesos.length" 
									[pageSize]="5"
									[(page)]="pagina"
									[maxSize]="5" 
									[rotate]="true"
									[boundaryLinks]="true" 
									[directionLinks]="false">
					</ngb-pagination>
					</form>
     		</mat-card-content>
   		 </mat-card>
	</div>
</div>