<app-header></app-header>
<br/><br/>
<div class="center">
	<mat-progress-spinner mode="indeterminate" *ngIf="loading"></mat-progress-spinner>
</div>	
<div class="row" *ngIf="!loading">
	<div class="col-md-10 col-md-offset-1">
	<mat-card-header>
  		<mat-card-title>Lista de personas<br/></mat-card-title>
  	</mat-card-header>
    <mat-card>
		<mat-card-content >
			<button mat-raised-button color="primary" title ="Agregar Persona" 
					[routerLink]="['/person-add']">Agregar Persona</button>
			<br/><br/>
			<form #personForm="ngForm" (ngSubmit)="remove(personForm.value)">
        		<table class="table table-hover">
					<thead class="sticky-top">
            			<tr>
							<th>Apellido</th>
              				<th>Nombre</th>
              				<th>DNI</th>
							<th>Matr&iacute;cula</th>
							<th>&nbsp;</th>
							<th>&nbsp;</th>
							<th>&nbsp;</th>
            			</tr>
          			</thead>
          			<tbody>
            			<tr mdbTableCol *ngFor="let person of persons | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
							<td>{{person.apellido}}</td>  
							<td>{{person.nombre}}</td>
              				<td>{{person.dni}}</td>
              				<td>{{person.matricula}}</td>
              				<td>
                				<a mat-button title="Modificar persona" [routerLink]="['/person-edit', person.id]">
                					<img src="assets/img/iconos/editar.png" width="25" height="25">
                				</a>
							</td>
							<td>
                				<a mat-button title="Eliminar persona" (click)="remove(person)">
                					<img src="assets/img/iconos/eliminar.png" width="25" height="25">
                				</a>
              				</td>
              				<td>
                				<a mat-button title="Ver fotos" [routerLink]="['/photo', person.dni]">     
                  					<img src="assets/img/iconos/user.png" tooltip="Ver fotos" width="25" height="25">
                				</a>
              				</td>
            			</tr>
          			</tbody>
				</table>
				<ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="4" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
				</ngb-pagination>
			</form>
     	</mat-card-content>
   	</mat-card>
	</div>
</div>