.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.alerta {
    margin: 0 0 10;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.aligned-with-icon{
    position: relative;
    top: -5px;
    margin-left: 5px;
}    