<div mat-dialog-content>
    <div class="row h-100 w-100 mx-auto mb-2">
        <div class="col-md-12 col-lg-12 text-center">
            <div class="mt-4"><img mat-card-image src="../../../assets/img/iconos/info.svg"
                 class="delete-user-info"></div>  
            <div><b>¿Está seguro que quiere eliminar el usuario?</b></div>
            <div>Nombre: Juan Jose</div>
            <div>Apellido: Perez</div>
        </div>
    </div>
</div>
<mat-dialog-actions align="end">
    <button mat-stroked-button (click)="onNoClick()">Cancelar</button>
    <button mat-stroked-button (click)="onNoClick()" color="primary">Eliminar</button>
</mat-dialog-actions>
